/*@font-face {
    font-family: "Reis";
    src: 
    local("REIS") format("truetype"),
    url("fonts/REIS-regular.ttf") format("truetype");
}*/
body{
    background: url('img/comingsoon.jpg') no-repeat center top fixed;
	background-size: cover;
	/*background-position:center;*/
	overflow-x: scroll;
	overflow-y: scroll;
}
